<h1>Quiz Results</h1>
<p id="question">You answered correctly <%= @correct %> out of <%= @total %> questions.</p>

<p id="score">YOU HAVE SCORED <%= @correct %> MARKS !</p>

<%= form_tag({:controller => "quiz", :action => "submitresult"}, :method => "get") do %>
  <div class="center">
	 <%= submit_tag("Submit the test results", :class => "submit") %>
  </div>
<% end %>


<%= form_tag({:controller => "quiz", :action => "index"}, :method => "get") do %>
  
<% end %>

<% content_for(:title) do %>
  Quiz Results
<% end %>
